/* custom syle sheet */
body{
    background-image: url(../Content/img/casinoTable.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#diceContainer{
    margin-top: 25%;
    display: block;
}
#outputDiv{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}
#outputDiv2{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}